Repository oomph-lib/oomph-lib, pull requests merged in 2021-10, with the labels that each got.

#54 Add test summary printing at end of parallel_self_test.py
  bin/parallel_self_test.py
Labels: enhancement, scripts

#55 Patch uploading of validation.log (from workflow scripts) when self-tests fail
  .github/workflows/self-tests-macos.yaml
  .github/workflows/self-tests-ubuntu.yaml
Labels: small fix, workflow

#53 Patch hypre; remove some check for headers; clarify doc
  configure.ac
  doc/coding_conventions/coding_conventions.txt
  external_distributions/hypre/build_scripts/build_script.part1
Labels: bug, documentation, build, external distributions

#57 Patch self-tests workflows; propagate a non-zero exit code if the self-tests fail
  .github/workflows/self-tests-macos.yaml
  .github/workflows/self-tests-ubuntu.yaml
Labels: bug, workflow

#58 Add MPI testing for Ubuntu to self-test workflows
  .github/workflows/self-tests-macos.yaml
  .github/workflows/self-tests-ubuntu.yaml
  config/configure_options/mpi_default_ci
Labels: feature, demo drivers, workflow

#62 Add manual trigger for build and publish docs
  .github/workflows/build-and-publish-docs.yaml
Labels: documentation, enhancement, workflow
