Repository oomph-lib/oomph-lib, pull requests merged in 2022-01, with the labels that each got.

#78 [PATCH] Ubuntu MPI self-tests don't actually install MUMPS/ScaLAPACK
  .github/workflows/self-tests-ubuntu.yaml
Labels: bug, workflow

#79 Release candidate, following update info about ubuntu prerequisites
  README.md
  doc/doc.txt
Labels: documentation, tidy up

#80 Change to eigensolver interfaces (and functionality)
  bin/emacs_files_that_contain_string.bash
  bin/run_selected_self_tests_based_on_string.bash
  config/configure_options/full_opt_build_all_libraries_mpi
  config/configure_options/paranoid_range_check_build_all_libraries
  demo_drivers/bifurcation_tracking/adaptive_hopf.cc
  demo_drivers/bifurcation_tracking/adaptive_hopf_with_separate_meshes.cc
  demo_drivers/bifurcation_tracking/adaptive_pitchfork.cc
  demo_drivers/bifurcation_tracking/hopf.cc
  demo_drivers/bifurcation_tracking/periodic_orbit.cc
  demo_drivers/eigenproblems/Makefile.am
  demo_drivers/eigenproblems/harmonic/Makefile.am
  demo_drivers/eigenproblems/harmonic/complex_harmonic.cc
  demo_drivers/eigenproblems/harmonic/harmonic.cc
  demo_drivers/eigenproblems/orr_sommerfeld/Makefile.am
  demo_drivers/eigenproblems/orr_sommerfeld/orr_sommerfeld.cc
  demo_drivers/mpi/distribution/eigenproblem/harmonic.cc
  demo_drivers/polar_navier_stokes/jeffery_hamel/jeffery_hamel.cc
  src/generic/double_multi_vector.h
  src/generic/eigen_solver.cc
  src/generic/eigen_solver.h
  src/generic/linear_solver.cc
  src/generic/partitioning.cc
  src/generic/problem.cc
  src/generic/problem.h
  src/generic/trilinos_eigen_solver.h
Labels: discussion, demo drivers, sources
